name: flutter_tomtom_navigation_example
description: Demonstrates how to use the flutter_tomtom_navigation plugin.

publish_to: 'none' 

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_tomtom_navigation:
    path: ../
  cupertino_icons: ^1.0.2
  permission_handler: ^11.1.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  
  
  
  

  
  

  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
