name: flutter_tomtom_navigation_android
description: The Android implementation of Flutter TomTom Navigation.
version: 0.1.1
publish_to: none

environment:
  sdk: '>=3.1.0 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.8
  flutter_tomtom_navigation_platform_interface: ^1.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2


flutter:
  plugin:
    platforms:
      android:
        package: com.tomtom.flutter_tomtom_navigation_android
        pluginClass: FlutterTomtomNavigationAndroidPlugin

  
  
  
  
  
  
  
  
  
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
